<!DOCTYPE html>
<html lang="pt-br">
<head>
  <link rel="stylesheet" href="css/home.css">
  <link rel="stylesheet" href="css/sidebar.css">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>E-Portal - Home</title>
</head>
<body>
  
  <!-- Navbar lateral -->
  <div class="sidebar" id="sidebar">
    <div class="icon" id="menu-btn">☰ <span>Menu</span></div>
    <div class="icon"><img src="imgs/home_icon.png" alt=""><span>Início</span></div>
    <div class="icon"><img src="imgs/projeto_icon.png" alt=""><span>Projetos</span></div>
    <div class="icon"><img src="imgs/curso_icon.png" alt=""> <span>Projetos</span></div>
  </div>

  <!-- Feed principal -->
  <div class="feed">
    <div class="post">
      <div class="post-header">
        <div class="profile-pic"></div>
        <div class="username">Usuário 1</div>
      </div>
      <div class="post-content"></div>
    </div>
  </div>

  <!-- Sidebar direita -->
  <div class="rightbar">
    <div class="profile-icon" id="profile-btn"></div>

    <!-- Menu de perfil -->
    <div class="profile-menu" id="profile-menu">
      <a href="#">Meu Perfil</a>
      <a href="#">Configurações</a>
      <a href="#">Sair</a>
    </div>
  </div>

  <!-- Botão flutuante -->
  <div class="fab"></div>

  <script src="javascript/home.js">
  </script>
  <script src="javascript/sidebar.js"></script>

</body>
</html>