<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <link rel="stylesheet" href="css/sidebar.css">
  <link rel="stylesheet" href="css/home.css">
  <link rel="stylesheet" href="css/rightbar.css">
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Página Inicial</title>
</head>

<body class="sidebar-collapsed">

  <!-- SIDEBAR (parcial EJS) -->
  <%- include('navbar') %>

    <!-- Feed principal -->
    <div class="feed">
      <div class="post">
        <div class="post-header">
          <div class="profile-pic"></div>
          <div class="username">Usuário 1</div>
        </div>
        <div class="post-content"></div>
      </div>
    </div>

    <%- include('rightbar') %>

    <script src="javascript/home.js"></script>
    <script src="javascript/sidebar.js"></script>
    <script src="javascript/rightbar.js"></script>
</body>

</html>