<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="css/csslogin.css">
  </head>
  <body>
    <main>
      <div class="box">
        <div class="inner-box">
          <div class="forms-wrap">
            <form action="/login" id="loginForm" method="post" autocomplete="off" class="sign-in-form">
              <div class="logo">
                <img src="imgs/eportal.png" alt="easyclass" />
                <h4> Portal</h4>
              </div> 

              <div class="heading">
                <h2>Bem Vindo a <span>ETEC </span></h2>
                <h6>Não está registrado?</h6>
                <a href="#" class="toggle">Registre-se</a>
              </div>

              <!-- Formulario de Login -->

              <div class="actual-form">
                <div class="input-wrap">
                  <input type="text" maxlength="5" class="input-field" id="RM" name="rm" autocomplete="off" required />
                  <label>RM</label>
                </div>

                <div class="input-wrap">
                  <input  type="password" minlength="3"  class="input-field" id="senha" name="senha" autocomplete="off" required />
                  <label>Senha</label>
                </div>

                <input type="submit" value="Logar" class="sign-btn" />

                <p class="text">
                  Esqueceu seu dados de Login?
                  <a href="#">Clique Aqui</a> 
                </p>
              </div>
            </form>

            <!-- Formulario de Registro -->

            <form action="/signup" autocomplete="off" class="sign-up-form" method="post">
              <div class="logo">
                <img src="imgs/eportal.png" alt="easyclass" />
                <h4>Portal</h4>
              </div>

              <div class="heading">
                <h2>É rapidinho!</h2>
                <h6>Já está registrado?</h6>
                <a href="#" class="toggle">Conecte-se</a>
              </div>

              <div class="actual-form">
                <div class="input-wrap">
                  <input
                    type="text"
                    maxlength="5"
                    class="input-field"
                    autocomplete="off"
                    required
                    name="rm"
                  />
                  <label>RM</label>
                </div>

                <div class="input-wrap">
                  <input
                    type="email"
                    class="input-field"
                    autocomplete="off"
                    required
                    name="email"
                  />
                  <label>Email</label>
                </div>

                <div class="input-wrap">
                  <input
                    type="password"
                    minlength="4"
                    class="input-field"
                    autocomplete="off"
                    required
                    name="senha"
                  />
                  <label>Senha</label>
                </div>

                <input type="submit" value="Logar" class="sign-btn" />

                
              </div>
            </form>
          </div>

          <div class="carousel">
            <div class="images-wrapper">
              <img src="imgs/imagem_tempo.png" class="image img-1 show" alt="" />
              <img src="imgs/imagem_comunicacao.png" class="image img-2" alt="" />
              <img src="imgs/organizacao.png" class="image img-3" alt="" />
            </div>

            <div class="text-slider">
              <div class="text-wrap">
                <div class="text-group">
                  <h2>Para agilizar seu dia</h2>
                  <h2>Melhorar a comunicação</h2>
                  <h2>E Organizar sua rotina!</h2>
                </div>
              </div>

              <div class="bullets">
                <span class="active" data-value="1"></span>
                <span data-value="2"></span>
                <span data-value="3"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

    <!-- Arquivo Javascript -->

    <script src="javascript/login.js"></script>
  </body>
</html>