<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <link rel="stylesheet" href="css/rightbar.css">
  <link rel="stylesheet" href="css/sidebar.css">
  <link rel="stylesheet" href="css/projetos.css">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Projetos</title>
</head>
<body class="sidebar-collapsed">
  <%- include('navbar') %>

  
  <div class="container">
    <!-- Card 1 -->
    <div class="card">
      <img class="img-projeto" src="imgs/projetos/volei.jpg" alt="Projeto 1">
      <div class="card-content">
        <h3>Projeto 1</h3>
        <p class="resumo-label">Resumo rápido do projeto.</p>
        <span class="btn_vermais" onclick="toggleCard(this)">Ver mais</span>
        <div class="extra-content">
          <p>
            Vôlei: Esporte coletivo jogado em uma quadra dividida por uma rede, onde duas equipes buscam fazer a bola tocar o chão do lado adversário. Requer trabalho em equipe, agilidade e estratégia.
          </p>
        </div>
      </div>
      <button class="btn-ingressar">
        <img src="imgs/projetos/entrar.png" alt="Ingressar" class="icon-ingressar"/>
        Ingressar
      </button>
    </div>

    <!-- Card 2 -->
    <div class="card">
      <img class="img-projeto" src="imgs/projetos/rpg.jpg" alt="Projeto 2">
      <div class="card-content">
        <h3>Projeto 1</h3>
        <p class="resumo-label">Resumo rápido do projeto.</p>
        <span class="btn_vermais" onclick="toggleCard(this)">Ver mais</span>
        <div class="extra-content">
          <p>
            Vôlei: Esporte coletivo jogado em uma quadra dividida por uma rede, onde duas equipes buscam fazer a bola tocar o chão do lado adversário. Requer trabalho em equipe, agilidade e estratégia.
          </p>
        </div>
      </div>
      <button class="btn-ingressar" id="btn-ingressar">
        <img src="imgs/projetos/entrar.png"  alt="Ingressar" class="icon-ingressar"/>
        Ingressar
      </button>
    </div>
    
    <!-- Card 3 -->

    <div class="card">
      <img class="img-projeto" src="imgs/projetos/volei.jpg" alt="Projeto 1">
      <div class="card-content">
        <h3>Projeto 1</h3>
        <p class="resumo-label">Resumo rápido do projeto.</p>
        <span class="btn_vermais" onclick="toggleCard(this)">Ver mais</span>
        <div class="extra-content">
          <p>
            Vôlei: Esporte coletivo jogado em uma quadra dividida por uma rede, onde duas equipes buscam fazer a bola tocar o chão do lado adversário. Requer trabalho em equipe, agilidade e estratégia.
          </p>
        </div>
      </div>
      <button class="btn-ingressar">
        <img src="imgs/projetos/entrar.png" alt="Ingressar" class="icon-ingressar"/>
        Ingressar
      </button>
    </div>

    <!-- Card 4 -->

    <div class="card">
      <img class="img-projeto" src="imgs/projetos/volei.jpg" alt="Projeto 1">
      <div class="card-content">
        <h3>Projeto 1</h3>
        <p class="resumo-label">Resumo rápido do projeto.</p>
        <span class="btn_vermais" onclick="toggleCard(this)">Ver mais</span>
        <div class="extra-content">
          <p>
            Vôlei: Esporte coletivo jogado em uma quadra dividida por uma rede, onde duas equipes buscam fazer a bola tocar o chão do lado adversário. Requer trabalho em equipe, agilidade e estratégia.
          </p>
        </div>
      </div>
      <button class="btn-ingressar">
        <img src="imgs/projetos/entrar.png" alt="Ingressar" class="icon-ingressar"/>
        Ingressar
      </button>
    </div>

    <!-- Card 5 -->

    <div class="card">
      <img class="img-projeto" src="imgs/projetos/volei.jpg" alt="Projeto 1">
      <div class="card-content">
        <h3>Projeto 1</h3>
        <p class="resumo-label">Resumo rápido do projeto.</p>
        <span class="btn_vermais" onclick="toggleCard(this)">Ver mais</span>
        <div class="extra-content">
          <p>
            Vôlei: Esporte coletivo jogado em uma quadra dividida por uma rede, onde duas equipes buscam fazer a bola tocar o chão do lado adversário. Requer trabalho em equipe, agilidade e estratégia.
          </p>
        </div>
      </div>
      <button class="btn-ingressar" id="btn-ingressar">
        <img src="imgs/projetos/entrar.png"  alt="Ingressar" class="icon-ingressar"/>
        Ingressar
      </button>
    </div>

  </div>

  <!-- Modal de confirmação de ingresso -->
<div id="modal-ingressar" class="modal-ingressar">
  <div class="modal-ingressar-content">
    <div class="modal-ingressar-header">
      <h2>Confirmar ingresso</h2>
    </div>
    <div class="modal-ingressar-body">
      <p>Você realmente deseja ingressar neste projeto?</p>
    </div>
    <div class="modal-ingressar-actions">
      <button id="btn-confirmar-ingresso" class="btn-modal">Sim</button>
      <button id="btn-cancelar-ingresso" class="btn-modal btn-cancelar">Cancelar</button>
    </div>
  </div>
</div>

  

<%- include('rightbar') %>

 <!-- Modal para criar novo post -->

    <div id="modal-post" class="modal-post">
      <div class="modal-content">
        <div class="head-modal">
          <h2>Adicionar Novo Projeto</h2>
        </div>
        <form id="form-post" autocomplete="off" enctype="multipart/form-data" action="/upload" method="post">
          <label for="titulo">Nome do Projeto:</label>
          <input type="text" id="titulo" name="title" required class="input-modal" />

          <label for="resumo">Resumo do Projeto:</label>
          <textarea id="resumo" name="resumo" required class="input-modal"></textarea>

          <label for="conteudo">Descrição do Projeto:</label>
          <textarea id="conteudo" name="text" required class="input-modal"></textarea>

          <label for="imagem">Imagem:</label>
          <input type="file" id="imagem" name="arquivo" accept="image/*" class="input-modal" />

          <div class="modal-actions">
            <button type="submit" class="btn-modal">Postar</button>
            <button type="button" id="btn-cancelar-modal" class="btn-modal btn-cancelar">Cancelar</button>
          </div>
        </form>
      </div>
    </div>

<script src="javascript/rightbar.js"></script>
  <script src="javascript/projetos.js"></script>
<script src="javascript/sidebar.js"></script>
</body>
</html>