<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <link href='https://cdn.boxicons.com/fonts/basic/boxicons.min.css' rel='stylesheet'>
  <link rel="stylesheet" href="css/sidebar.css">
  <link rel="stylesheet" href="css/projetos.css">
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Página Inicial</title>
</head>
<body class="sidebar-collapsed">
 
  <!-- SIDEBAR (parcial EJS) -->
  <%- include('partials/navbar') %>
         
<!-- Conteúdo principal -->
  <div class="feed">
    <div class="card">
      <img src="imgs/bolavolei_icon.png" alt="Projeto 1">
      <div class="card-content">
        <h3>Projeto 1</h3>
        <button class="btnp">Saiba mais</button>
      </div>
    </div>

     <div class="feed">
    <div class="card">
      <img src="imgs/bolavolei_icon.png" alt="Projeto 1">
      <div class="card-content">
        <h3>Projeto 1</h3>
        <button class="btnp">Saiba mais</button>
      </div>
    </div>

     <div class="feed">
    <div class="card">
      <img src="imgs/bolavolei_icon.png" alt="Projeto 1">
      <div class="card-content">
        <h3>Projeto 1</h3>
        <button class="btnp">Saiba mais</button>
      </div>
    </div>
</body>
</html>
