<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="utf-8" />
    <title>Projeto Exemplo — Visualizar</title>
    <link rel="stylesheet" href="/css/sidebar.css">
    <link rel="stylesheet" href="/css/rightbar.css">
    <link rel="stylesheet" href="/css/proj_view.css">
</head>
<body class="sidebar-collapsed">
    <%- include('navbar') %>

    <div class="proj-container">
        <section class="proj-left">
            <div class="proj-left-header">
    <img class="proj-header-img" src="/imgs/projetos/estudos.jpg" alt="Capa do projeto">
    <h1>Projeto - Grupo de Estudos</h1>
</div>

            <div class="proj-left-card">
                
                <div class="cabeçalho">
                     <div class="proj-info-grid">
                        <div class="info-item">
                        <h3>Local</h3>
                        <p>Pátio</p>
                    </div>
                    <div class="info-item">
                        <h3>Horários</h3>
                        <p> Quar - Sex, 14:00 — 15:30</p>
                    </div>
                    <div class="info-item">
                        <h3>Coordenador</h3>
                        <p>Prof. Aline</p>
                    </div>
                    <div class="info-item">
                        <h3>Contato</h3>
                        <p>alineestudos@gmail.com</p>
                    </div>
                </div>
                    </div>
                    <div class="proj-desc">
                <h2>Descrição</h2>
                <p>
                    Revisões semanais de Matemática, Português e Lógica de Programação, com monitoria de alunos veteranos. Materiais compartilhados e simulados. 
                    O projeto visa apoiar os alunos na preparação para provas e no reforço dos conteúdos aprendidos em sala de aula, promovendo um ambiente colaborativo de estudo.
                </p>
                </div>
            </div>
        </section>

    </div>
    <%- include('rightbar') %>
    
    <script src="/javascript/proj_view.js"></script>
    <script src="/javascript/sidebar.js"></script>
    <script src="/javascript/rightbar.js"></script>
</body>
</html>