<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <link rel="stylesheet" href="css/rightbar.css">
  <link rel="stylesheet" href="css/sidebar.css">
  <link rel="stylesheet" href="css/projetos.css">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Projetos</title>
</head>
<body class="sidebar-collapsed">
  <%- include('navbar') %>

  
  <div class="container">
    <!-- Card 1 -->
    <div class="card">
      <img class="img-projeto" src="imgs/projetos/volei.jpg" alt="Projeto 1">
      <div class="card-content">
        <h3>Projeto 1</h3>
        <p class="resumo-label">Resumo rápido do projeto.</p>
        <span class="btn_vermais" onclick="toggleCard(this)">Ver mais</span>
        <div class="extra-content">
          <p>
            Vôlei: Esporte coletivo jogado em uma quadra dividida por uma rede, onde duas equipes buscam fazer a bola tocar o chão do lado adversário. Requer trabalho em equipe, agilidade e estratégia.
          </p>
        </div>
      </div>
      <button class="btn-ingressar">
        <img src="imgs/nav_icons/expandir_branco.png" alt="Ingressar" class="icon-ingressar"/>
        Ingressar
      </button>
    </div>

    <!-- Card 2 -->
    <div class="card">
      <img class="img-projeto" src="imgs/projetos/rpg.jpg" alt="Projeto 2">
      <div class="card-content">
        <h3>Projeto 2</h3>
        <p>Pequena descrição inicial.</p>
        <span class="btn_vermais" onclick="toggleCard(this)">Ver mais</span>
        <div class="extra-content">
          <p>
            Detalhes expandidos do projeto 2.  
            Explicação técnica, história de criação e resultados.
          </p>
        </div>
      </div>
      <button class="btn-ingressar">
        <img src="imgs/nav_icons/expandir_branco.png" alt="Ingressar" class="icon-ingressar"/>
        Ingressar
      </button>
    </div>
    
    <!-- Card 3 -->

    <div class="card">
      <img class="img-projeto" src="imgs/projetos/volei.jpg" alt="Projeto 1">
      <div class="card-content">
        <h3>Projeto 1</h3>
        <p class="resumo-label">Resumo rápido do projeto.</p>
        <span class="btn_vermais" onclick="toggleCard(this)">Ver mais</span>
        <div class="extra-content">
          <p>
            Vôlei: Esporte coletivo jogado em uma quadra dividida por uma rede, onde duas equipes buscam fazer a bola tocar o chão do lado adversário. Requer trabalho em equipe, agilidade e estratégia.
          </p>
        </div>
      </div>
      <button class="btn-ingressar">
        <img src="imgs/nav_icons/expandir_branco.png" alt="Ingressar" class="icon-ingressar"/>
        Ingressar
      </button>
    </div>

    <!-- Card 4 -->

    <div class="card">
      <img class="img-projeto" src="imgs/projetos/volei.jpg" alt="Projeto 1">
      <div class="card-content">
        <h3>Projeto 1</h3>
        <p class="resumo-label">Resumo rápido do projeto.</p>
        <span class="btn_vermais" onclick="toggleCard(this)">Ver mais</span>
        <div class="extra-content">
          <p>
            Vôlei: Esporte coletivo jogado em uma quadra dividida por uma rede, onde duas equipes buscam fazer a bola tocar o chão do lado adversário. Requer trabalho em equipe, agilidade e estratégia.
          </p>
        </div>
      </div>
      <button class="btn-ingressar">
        <img src="imgs/nav_icons/expandir_branco.png" alt="Ingressar" class="icon-ingressar"/>
        Ingressar
      </button>
    </div>

    <!-- Card 5 -->

    <div class="card">
      <img class="img-projeto" src="imgs/projetos/volei.jpg" alt="Projeto 1">
      <div class="card-content">
        <h3>Projeto 1</h3>
        <p class="resumo-label">Resumo rápido do projeto.</p>
        <span class="btn_vermais" onclick="toggleCard(this)">Ver mais</span>
        <div class="extra-content">
          <p>
            Vôlei: Esporte coletivo jogado em uma quadra dividida por uma rede, onde duas equipes buscam fazer a bola tocar o chão do lado adversário. Requer trabalho em equipe, agilidade e estratégia.
          </p>
        </div>
      </div>
      <button class="btn-ingressar">
        <img src="imgs/nav_icons/expandir_branco.png" alt="Ingressar" class="icon-ingressar"/>
        Ingressar
      </button>
    </div>

  </div>

  

<%- include('rightbar') %>

<script src="javascript/rightbar.js"></script>
  <script src="javascript/projetos.js"></script>
<script src="javascript/sidebar.js"></script>
</body>
</html>