<div class="rightbar">

      <!-- Menu de perfil -->
      <div class="profile" id="profile">
      <div class="profile-icon" id="profile-btn">
      <span class="profile-name" id="profile-name">  Joaquim Lopes </span>
        <img id="profileExpand" class="profileExpand" src="imgs/profile_icons/rickelme.jfif" alt="">
      </div>
      
      <div class="profile-menu" id="profile-menu">
        <a href="/perfil"> <img src="imgs/profile_icons/usuario.png" alt="" class="profile_icons"> Meu Perfil </a>
        <a href="/logout"><img src="imgs/profile_icons/logout.png" class="profile_icons" alt=""> Sair </a>
      </div>
      </div>
    </div>

    <!-- Botão flutuante -->
    <div class="fab"><img src="imgs/adicionar.png" alt=""> </div>

    <!-- Modal para criar novo post -->

    <div id="modal-post" class="modal-post">
      <div class="modal-content">
        <div class="head-modal">
          <h2>Novo Aviso</h2>
        </div>
        <form id="form-post" autocomplete="off" enctype="multipart/form-data" action="/upload" method="post">
          <label for="titulo">Título:</label>
          <input type="text" id="titulo" name="title" required class="input-modal" />

          <label for="conteudo">Conteúdo:</label>
          <textarea id="conteudo" name="text" required class="input-modal"></textarea>

          <label for="imagem">Imagem:</label>
          <input type="file" id="imagem" name="arquivo" accept="image/*" class="input-modal" />

          <div class="modal-actions">
            <button type="submit" class="btn-modal">Postar</button>
            <button type="button" id="btn-cancelar-modal" class="btn-modal btn-cancelar">Cancelar</button>
          </div>
        </form>
      </div>
    </div>