* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
}
:root {
    --main-red: #a80000;
}
body {
  background-color: #e5ebf7;
  display: flex;  
}
.perfil-content h1 {
  text-align: center;
  padding: 20px;
  width: 100%;
  background-color: var(--main-red);
  color: #fff;
  border-top-left-radius: 3.3rem;
  border-top-right-radius: 3.3rem;
}

.perfil-content {
  width: 100vw;
  margin: 50px;
  margin-left: 120px;
background-color: #fff;
box-shadow: 0 60px 40px -30px rgba(0, 0, 0, 0.27);
border-radius: 3.3rem;
}

.perfil-grid {
  padding:30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(2, 1fr);
  gap: 32px;
}

.perfil-card {
  background: #e5e5e5;
  padding: 24px;
  border-radius: 16px;
  box-sizing: border-box;
}

.perfil-card:first-child {
  display: flex;
  align-items: center;
  gap: 24px;
}

.perfil-avatar {
  flex: 0 0 90px;
}

.perfil-avatar img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: #7a6c6c;
}

@media (max-width: 900px) {
  .perfil-grid {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
}

.perfil-grid input {

  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 50px;
  box-sizing: border-box;
  font-size: 16px;
}

.perfil-grid p {

  width: 100%;
  padding: 8px;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 50px;
  box-sizing: border-box;
  font-size: 16px;

}

.perfil-grid h3 {
  margin-left: 5px;
  margin-bottom: 2px;
}

.perfil-grid h2 {
  margin-left: 5px;
}

.btn-editar {
font-size: 16px;
  border: none;
  color: #fff;
  border-radius: 1rem;
  padding: 10px;
  background-color: #a80000;
}