    .card-header {
        display: flex;
        align-items: center;
        gap: 16px;
    }
    .card-header h3 {
        margin-bottom: 0;
    }
  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: Arial, sans-serif;
  }

  body {
      display: flex;
      background-color: #ffffff;
      height: 100vh;
  }

  .feed {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #d9d9d9;
    padding: 20px;
    overflow-y: auto;
    width: 100%;
    margin-left: 0;
  }

  .card {
    display: flex;
    align-items: center;
    background: #b6a9a9;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
    max-width: 900px;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  .card img {
      width: 100px;
      height: 100px;
      background: white;
      border-radius: 4px;
      margin-right: 20px;
  }

  .card-content {
      flex: 1;
      color: white;
      display: flex;
      flex-direction: column;
      justify-content: center;
  }

  .card-content h3 {
      margin-bottom: 15px;
      font-weight: 600;
  }

  .btnp {
      
    padding: 10px 24px;
    background: #d3d3d3;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    color: #333;
    font-size: 10px;
    width: 100px;
    min-width: 90px;
    display: inline-block;
    text-align: center;
  }

  .rightbar {
      width: 8%;
      background-color: #ffffff;
      padding: 20px;
      position: relative;
  }

  .profile-icon {
      width: 40px;
      height: 40px;
      background-color: #ccc;
      border-radius: 50%;
      margin-left: auto;
      cursor: pointer;
  }

  /* Dropdown do perfil */
  .profile-menu {
      position: absolute;
      top: 70px;
      right: 20px;
      background: #a80000;
      color: #fff;
      border-radius: 8px;
      width: 180px;
      padding: 10px;
      display: none;
      flex-direction: column;
  }

  .profile-menu a {
      color: #fff;
      text-decoration: none;
      padding: 8px;
      border-radius: 5px;
      transition: background 0.2s;
  }

  .profile-menu a:hover {
      background: #800000;
  }

  .profile-menu.active {
      display: flex;
  }

  /* Botão flutuante */
  .fab {
      position: fixed;
      bottom: 20px;
      right: 20px;
      width: 50px;
      height: 50px;
      background-color: #a80000;
      border-radius: 10px;
      cursor: pointer;
  }